
.navbar {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    margin: 20px;
    padding: 20px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(to right, #3a3a3a, #414141);
    transition: all 0.3s ease;
  }
  
  .nav-links li a:hover {
    background: linear-gradient(to right, #414141, #3a3a3a);
  }